flask==2.3.3
flask-sqlalchemy==3.0.5
flask-cors==4.0.1
flask-bcrypt==1.0.1
pyjwt==2.8.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pycryptodome==3.20.0
numpy==1.26.4
web3
#prediction math
cryptography~=41.0.7
pip~=24.3.1
attrs~=24.2.0
distro~=1.9.0
wheel~=0.44.0
protobuf~=4.25.4
pillow~=10.4.0
tornado~=6.4.1
Jinja2~=3.1.6
cffi~=1.17.1
setuptools~=72.1.0
typing_extensions~=4.12.2
MarkupSafe~=2.1.5
Werkzeug~=3.0.3
click~=8.1.8
blinker~=1.9.0
itsdangerous~=2.2.0
pytz~=2024.1
charset-normalizer~=3.3.2
ipython~=8.26.0
pycparser~=2.22
decorator~=5.1.1
SQLAlchemy~=2.0.40
bcrypt~=4.3.0
scikit-learn~=1.5.1